{% extends  'base.html.twig'%}

{% block body %}
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.username, { 'attr': {'class': 'form-control', 'value': app.user.username} } ) }}
            {{ form_row(form.email, { 'attr': {'class': 'form-control', 'value': app.user.email} } ) }}
            {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} } ) }}
            {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} } ) }}
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    {{ form_end(form) }}

{% endblock %}